Q1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80]. i. WAP to add 200 and 300 to L. ii. WAP to remove 10 and 30 from L. iii. WAP to sort L in ascending order. iv. WAP to sort L in descending order.*/

In [4]:
L = [10,20,30,40,50,60,70,80]
print("i. adding 200 and 300 to L:")
L.extend([200,300])
print(L)

print("ii. removing 10 and 30 from L:")
L.remove(10)
L.remove(30)
print(L)

print("iii. sorting L in ascending order:")
print(sorted(L))

print("iv. sorting L in descending order:")
print(sorted(L,reverse=True))

i. adding 200 and 300 to L:
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
ii. removing 10 and 30 from L:
[20, 40, 50, 60, 70, 80, 200, 300]
iii. sorting L in ascending order:
[20, 40, 50, 60, 70, 80, 200, 300]
iv. sorting L in descending order:
[300, 200, 80, 70, 60, 50, 40, 20]

Q2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions: i. Identify the highest score and its index in the tuple. ii. Find the lowest score and count how many times it appears. iii. Reverse the tuple and return it as a list. iv. Check if a specific score â€˜76â€™ (input by the user) is present in the tuple and print its first occurrence index, or a message saying itâ€™s not present.**

In [15]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

highest = max(scores)
highest_index = scores.index(highest)
lowest = min(scores)
lowest_count = scores.count(lowest)
reversed_list = list(scores[::-1])
x = 76
if x in scores:
    x_index = scores.index(x)
    print(f"Highest Score: {highest}, Index: {highest_index}\nLowest Score: {lowest}, Count: {lowest_count}\nReversed List: {reversed_list}\n76 is present at Index: {x_index}")
else:
    print(f"Highest Score: {highest}, Index: {highest_index}\nLowest Score: {lowest}, Count: {lowest_count}\nReversed List: {reversed_list}\n76 is not present")

Highest Score: 92, Index: 5
Lowest Score: 45, Count: 2
Reversed List: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
76 is present at Index: 2

Q3. WAP to create a list of 100 random numbers between 100 and 900. Count and print the: i. All odd numbers ii. All even numbers iii. All prime numbers/

In [22]:
import random

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = []
even_numbers = []
prime_numbers = []

for num in random_numbers:
    if num % 2 == 0:
        even_numbers.append(num)
    else:
        odd_numbers.append(num)

    if is_prime(num):
        prime_numbers.append(num)

print("Odd Numbers:", odd_numbers)
print("Even Numbers:", even_numbers)
print("Prime Numbers:", prime_numbers)

print("\nCount of Odd Numbers:", len(odd_numbers))
print("Count of Even Numbers:", len(even_numbers))
print("Count of Prime Numbers:", len(prime_numbers))

Odd Numbers: [607, 297, 559, 701, 305, 701, 747, 479, 697, 369, 701, 563, 305, 113, 595, 235, 353, 343, 555, 553, 201, 493, 455, 633, 799, 531, 603, 711, 665, 281, 839, 187, 329, 291, 593, 249, 733, 567, 649, 187]
Even Numbers: [330, 108, 262, 118, 526, 652, 890, 604, 878, 370, 684, 596, 696, 246, 662, 652, 396, 828, 826, 154, 206, 826, 312, 532, 332, 234, 198, 374, 806, 548, 378, 878, 484, 428, 748, 360, 722, 860, 792, 840, 692, 870, 598, 672, 304, 572, 716, 470, 726, 886, 246, 860, 616, 254, 174, 184, 586, 858, 632, 866]
Prime Numbers: [607, 701, 701, 479, 701, 563, 113, 353, 281, 839, 593, 733]

Count of Odd Numbers: 40
Count of Even Numbers: 60
Count of Prime Numbers: 12

Q4. Consider the following two sets, A and B, representing scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23} WAP to perform the following operations using set functions: i. Find the unique scores achieved by both teams (union of sets). ii. Identify the scores that are common to both teams (intersection of sets). iii. Find the scores that are exclusive to each team (symmetric difference). iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A. v. Remove a specific score ð‘‹ (input by the user) from set A if it exists. If not, print a message saying it is not present.

A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

union = A.union(B)
print("Union of A and B (Unique Scores):", union)

intersection = A.intersection(B)
print("Intersection of A and B (Common Scores):", intersection)

symmetric_difference = A.symmetric_difference(B)
print("Symmetric Difference (Exclusive Scores):", symmetric_difference)

is_subset_A_B = A.issubset(B)
is_superset_B_A = B.issuperset(A)
print(f"Is A a subset of B? {is_subset_A_B}")
print(f"Is B a superset of A? {is_superset_B_A}")

X = int(input("Enter the score to remove from set A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from set A.")
else:
    print(f"Score {X} is not present in set A.")

Q5. Write a program to rename a key city to a location in the following dictionary

In [30]:
def rename_key(city_dict, old_key, new_key):
    if old_key in city_dict:
        city_dict[new_key] = city_dict.pop(old_key)
        print(f"Key renamed: {old_key} -> {new_key}")
    else:
        print(f"Key '{old_key}' not found in the dictionary.")
city_dict = {
    "New York": "USA",
    "London": "UK",
    "Tokyo": "Japan"
}

print("Original Dictionary:", city_dict)
rename_key(city_dict, "London", "Manchester")
print("Updated Dictionary:", city_dict)

Original Dictionary: {'New York': 'USA', 'London': 'UK', 'Tokyo': 'Japan'}
Key renamed: London -> Manchester
Updated Dictionary: {'New York': 'USA', 'Tokyo': 'Japan', 'Manchester': 'UK'}